<h1>Examples</h1>

<p>Sometimes you just need to see some code to get an idea started; here are a few examples of what you can build with Planetary.js.</p>

<div class='ui four connected items examples'>
  <div class='row'>
    <a class='item' href='/examples/basic.html'>
      <div class='content'>
        <div class='name'>Basic Globe</div>
        <p class='description'>It doesn't get any simpler than this:
          just a static globe.</p>
      </div>
    </a>

    <a class='item' href='/examples/rotating.html'>
      <div class='content'>
        <div class='name'>Rotating Globe</div>
        <p class='description'>If there's one thing that's better than
          a globe, it's a globe that rotates. This is the demo from the
          homepage of Planetaryjs.com.</p>
      </div>
    </a>

    <!-- <a class='item' href='/examples/mouse.html'> -->
    <!--   <div class='content'> -->
    <!--     <div class='name'>Mouse Interaction</div> -->
    <!--     <p class='description'>See how to use the mouse to rotate -->
    <!--       and zoom the globe.</p> -->
    <!--   </div> -->
    <!-- </a> -->

    <a class='item' href='/examples/quake.html'>
      <div class='content'>
        <div class='name'>Earthquake Data</div>
        <p class='description'>A visualization of 2013 seismic activity.
          This demo shows the use of multiple custom plugins, D3
          scales, fetching third party data, and DOM updates via D3.</p>
      </div>
    </a>
  </div>
</div>
