<div class='ui fixed inverted large menu main-menu'>
  <div class='items'>
    <a class='item title' href='/index.html'>
      <i class='globe icon'></i>Planetary.js
    </a>
    <span class='spacer hide-on-mobile'></span>
    <a class='item minor' href='https://github.com/BinaryMuse/planetary.js/releases'>
      <i class='download icon'></i><span class='hide-on-mobile'>Download</span>
    </a>
    <a class='item minor <%- current.path[0] == 'examples' ? 'active' : '' %>' href='/examples/'>
      <i class='laptop icon'></i><span class='hide-on-mobile'>Examples</span>
    </a>
    <a class='item minor <%- current.path[0] == 'documentation' ? 'active' : '' %>' href='/documentation/'>
      <i class='book icon'></i><span class='hide-on-mobile'>Documentation</span>
    </a>
    <a class='item minor' href='https://github.com/BinaryMuse/planetary.js'>
      <i class='github alternate icon'></i><span class='hide-on-mobile'>Fork on GitHub</span>
    </a>
  </div>
</div>
