<div class='ui page stackable grid'>
  <div class='eight wide column right floated'>
    <h1 class='title-header'>Planetary.js</h1>
    <h2 class='title-header subheader'>Awesome interactive globes for the web</h2>

    <div class='ui list feature-list'>
      <div class='item'>
        <i class='settings icon'></i>
        <div class='content'>Fully customizable, including colors, rotation, and more</div>
      </div>
      <div class='item'>
        <i class='screenshot icon'></i>
        <div class='content'>Display animated "pings" at any location with custom colors and sizes</div>
      </div>
      <div class='item'>
        <i class='move icon'></i>
        <div class='content'>Mouse drag + zoom support</div>
      </div>
      <div class='item'>
        <i class='lightbulb icon'></i>
        <div class='content'><a href='angular.html'>AngularJS integration</a></div>
      </div>
      <div class='item'>
        <i class='fork code icon'></i>
        <div class='content'>100% free and open source, licensed under <a href='http://opensource.org/licenses/MIT'>the MIT license</a></div>
      </div>
    </div>

    <div class='ui buttons'>
      <a class='ui green labeled icon button' href='https://github.com/BinaryMuse/planetary.js/releases'><i class='icon download'></i>Download</a>
      <div class='or'></div>
      <a class='ui labeled button' href='https://github.com/BinaryMuse/planetary.js'>View Source</a>
    </div>
  </div>

  <div class='eight wide column left floated'>
    <div class='ui panel homepage-globe-canvas'>
      <canvas height='350' width='350' style="width: 350px; height: 350px;" id="homepage-globe-canvas"></canvas>
      <div style="width: 350px; text-align: center; display: inline-block;">
        <div class='ui pointing label'>
          <a href='https://github.com/BinaryMuse/planetary.js/blob/master/site/public/js/homepage.js'
            class='detail no-underline'><i class='icon code'></i> View the source for this example</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class='ui page grid'>
  <div class='sixteen wide column'>
    <div class='ui horizontal divider'>
      <i class='huge globe icon'></i>
    </div>
  </div>
</div>

<div class='ui page grid'>
  <div class='one wide column'></div>
  <div class='fourteen wide column'>


    <div class='ui three column stackable divided grid center aligned'>
      <div class='column'>
        <a class='ui icon header' href='examples.html'>
          <i class='ui huge icon laptop'></i>
          Examples
        </a>
        <p>Check out working examples and see what Planetary.js can do</p>
        <p><a class='ui teal button' href='examples.html'>Explore the Examples</a></p>
      </div>
      <div class='column'>
        <a class='ui icon header' href='documentation.html'>
          <i class='ui huge icon book'></i>
          Documentation
        </a>
        <p>Download and install Planetary.js and build something awesome</p>
        <p><a class='ui orange button' href='documentation.html'>Peruse the Documentation</a></p>
      </div>
      <div class='column'>
        <a class='ui icon header' href='https://github.com/BinaryMuse/planetary.js'>
          <i class='ui huge icon github alternate'></i>
          Source Code
        </a>
        <p>Check out the source on GitHub and contribute to the project</p>
        <p><a class='ui purple button' href='https://github.com/BinaryMuse/planetary.js'>Examine the Source</a></p>
      </div>
    </div>

  </div>
</div>
